<div class="edit-window d-none">
    <h3>Edit post:</h3>
    <p id="edit-window-exit">Exit</p>
    <div class="form-group">
        <input class="form-control" type="text" name="content" id="edit-text" required>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="song" id="edit-song" required>
    </div>
    <!-- <div class="form-group">
        <input class="form-control song" autocomplete="off" name="song" required list="songs-list">
        <ul class="song-display-items rounded-bottom display-none">
            <li class="first"></li>
            <li class="second"></li>
            <li class="third"></li>
            <li class="fourth"></li>
            <li class="fifth"></li>
        </ul>

    </div> -->
</div>