<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melody</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand logo" href="/home">Melody</a>
          <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="/home"><i class="fas fa-home"></i></a>
              <div class="underline"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile"><i class="fas fa-user"></i></a>
              <div class="underline"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/notifications"><i class="fas fa-music"></i></a>
              <div class="underline"></div>
            </li>
          </ul>
      </div>
      </nav>
