<ul class="posts">
    <% posts.reverse().forEach(post => {%>
        <% if (post.content && post.song)  { %> 
            <li class="post">
                <%- include("display-post", {post: post, user: user, list: true}) %>
            </li>
        <% } %>
    <% })%>
</ul>