<%- include("partials/header") %>
<div class="container">
    <div class="row justify-content-center">
        <h1>Home screen</h1>
    </div>
    <% if (user) {%> 
        <h1>logged in</h1>
    <%}%> 
</div>
<p style="width: 200px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ea eos totam quas reiciendis saepe enim pariatur est! Saepe eos ullam consequuntur est blanditiis culpa dolore quae ducimus ad eius. Quas labore repellat in et deleniti provident eos? Amet accusamus odit atque delectus cum ducimus fugit accusantium vero porro suscipit aspernatur, velit corporis voluptatibus molestiae incidunt repellendus facere illum dolor. Totam, commodi aliquid aspernatur nostrum quo ducimus recusandae, debitis minus officia voluptatum harum accusantium numquam ea maiores quam! Nam ab repellendus, quod soluta molestiae ipsa, aut voluptatem pariatur, amet maxime consequatur voluptas ea laudantium voluptate accusantium alias illum ducimus reiciendis!</p>
<%- include("partials/footer") %>