<%- include("partials/header") %>
<div class="container mt-5">
    <h1> <%= user.fullName %></h1>
    <h3>@<%=user.username%></h3>
    <img src="/profile/picture" style="width: 200px;">
    <a href="/logout">Log out</a>
</div>
<%- include("partials/footer") %>