<%- include("partials/header") %>
<span class="search-page-span">
    <input class="form-control rounded m-0 mr-0 mr-md-1" id="search-page-input" type="search" placeholder="Search" aria-label="Search">
 
      <ul class="search-page-display-items rounded-bottom d-none">
        <a><li class="search-page-first"></li></a>
        <a><li class="search-page-second"></li></a>
        <a><li class="search-page-third"></li></a>
        <a><li class="search-page-fourth"></li></a>
        <a><li class="search-page-fifth"></li></a>
        <a href="/search"><li class="search-page-sixth"><i class="fas fa-search"></i> Search for "<span id="sixth-page-text"></span>" </li></a>
    </ul>
    
  </span>
  <script type="module" src="/js/search-page.js"></script>
<%- include("partials/footer") %>