<%- include("partials/header") %>
<span class="search-page-span">
    <div class="text-center col-12">
      <h4>Search by:</h4>
      <ul class="search-parameters">
        <li>
          <input type="radio" id="user-search" checked="checked" value="User"/>
          <label for="user-search">User</label>
        </li>
        <li>
          <input type="radio" id="post-search" value="Post"/>
          <label for="post-search">Post</label>
        </li>
        <li>
          <input type="radio" id="song-search" value="Song"/>
          <label for="song-search">Song</label>
        </li>
      </ul>
    </div>
    <% if (search) { %>   
      <input class="form-control rounded m-0 mr-0 mr-md-1" id="search-page-input" type="search" value="<%= search %>" placeholder="Search" aria-label="Search">
    <% } else { %>
      <input class="form-control rounded m-0 mr-0 mr-md-1" id="search-page-input" type="search"  placeholder="Search" aria-label="Search">
    <% } %>

    <ul class="search-page-display-items search-page-display-items-user rounded-bottom ">
    </ul>
    <ul class="search-page-display-items search-page-display-items-post d-none rounded-bottom ">
      <li>Hello</li>
    </ul>
    
  </span>
  <script type="module" src="/js/search-page.js"></script>
<%- include("partials/footer") %>