@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    height: 100%;
    width: 100%;
    color: #30475e;
    margin-top: 50px !important;
    font-family: 'Lato', sans-serif;
}

.logo {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    color: #f1935c !important; 
}

.home-screen-content {
    position: fixed;
}

.profile {
    position: fixed;
}
.btn-primary {
    background-color: #f1935c;
    border: none;
}

.btn-primary:hover {
    background-color: #dc6622;
    transition: .5s;
}

.posts {
    list-style: none;
    padding: 0 0 25px 0;
}

.song-display-items {
    list-style: none;
    background: white;
    border: 1px solid black;
    border-top: none !important;
    padding-inline-start: 0 !important;
}

.song-display-items li {
    padding: 5px 0 5px 25px;
    border-top: 1px #dddddd solid;
    cursor: pointer; 
    border-bottom: 1px #dddddd solid;
}
.song-display-items li:hover {
    background: #dddddd
}

.post {
    background-color: #fcf8e8;
    border-radius: 25px;
    padding: 15px 15px 10px 15px;
    margin-bottom: 15px;
}


.spotify-embeds {
    width: 100%;
  }
  
.spotify-embed {
    left: 0; 
    width: 100%; 
    height: 0; 
    position: relative; 
    padding-top: 80px;
}
.spotify-embed .song-tile {
    border: 0; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    position: absolute;
}

.profile-pic-container {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-dropdown-arrow {
    margin-top: 10px; 
    margin-right: 10px; 
    float: right;
}

.post-dropdown-arrow-list {
    z-index: 999999999;
    position: relative;
    margin-top: 10px; 
    margin-right: 10px;
    float: right;
    list-style: none;
    background: white;
    margin-top: 25px;
    margin-right: -15px;
    padding-left: 0;
}
.post-dropdown-arrow-list li {
    padding: 3px 40px 3px 8px;
}
.post-dropdown-arrow-list li a {
    color: #30475e;
}
.post-dropdown-arrow-list li:hover {
    background: #f1f1f1
}

.display-none {
    display: none;
}

.post a {
    color: #f1935c;
    text-decoration: none;
}
.post-content {
    font-weight: 400;
}

.navbar-light {
    background-color: #fcf8e8 !important;
}

.navbar-nav li {
    margin: 0 15px;
    display: inline-block !important;
}

.underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

li.nav-item, li.nav-item .fas {
    color: #30475e;
}

li.nav-item:hover .underline {
	background-color: #30475e;
	width: 100%;
}

ul.navbar-nav{
    display: inline !important;
}

@media (max-width: 768px) {
    .navbar-right {
        margin-left: 0 !important;
    }
    .navbar-nav li {
        display: inline-block;
    }
}