@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    height: 100%;
    width: 100%;
    color: #30475e !important;
    font-family: 'Lato', sans-serif !important;
    overflow: hidden;
}

.App {
    position: relative;
}