<ul class="posts">
    <% posts.reverse().forEach(post => {%>
        <% if (post.content && post.song)  { %> 
            <li class="post" id="<%= post._id %>" > 
                <%- include("display-post", {post: post, user: user}) %>
            </li>
        <% } %>
    <% })%>
</ul>