<div id="home-screen-content">
    <h3>What your friends are listening to:</h3>
    <ul>
        <% for (var i = 0; i < popular.length; i++) { %>
            <li class="popular-post"><%= i + 1 %>. <%= popular[i] %></li>
        <% } %>
    </ul>
</div>